@import "tailwindcss";

:root {
  --background-light: #e8e8e8;
  --background-dark: #121212;
  --foreground-light: #121212;
  --foreground-dark: #e8e8e8;
}


@theme inline {
  --color-background: var(--background-dark);
  --color-foreground: var(--foreground-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #e8e8e8;
  }
}

/* Add these lines */
html, body {
  height: 100vh; /* Makes html and body take full viewport height */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent body from scrolling itself; content inside will scroll if needed */
}

/* Optional: If you want smooth scrolling */
html {
  scroll-behavior: smooth;
}
body {
  background: var(--background-dark);
  color: var(--foreground-dark);
  font-family: var(--font-geist-sans);
}
